*.egg-info/
.venv
.Python
# Environnement virtuel
__pycache__/
*.so
lib/
*.swo
pip-delete-this-directory.txt
# IDE
.Spotlight-V100
ENV/
.vscode/
Thumbs.db
.Trashes
lib64/
*.egg
.DS_Store
var/
# Fichiers temporaires
pip-log.txt
.idea/
ehthumbs.db
*$py.class
# Fichiers de configuration
eggs/
build/
SECRETS_SETUP.md
*.log
sdist/
venv/
*.swp
.DS_Store?
develop-eggs/
*~
*.tmp
*.temp
parts/
env/
# OS
*.py[cod]
dist/
# Fichiers Python
.streamlit/secrets.toml
.eggs/
._*
downloads/
wheels/
# Logs
.installed.cfg
.env